body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #6922B0, #53F7FC); }

.spinner {
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .spinner .circle,
  .spinner .line {
    width: 260px;
    height: 260px;
    border: 5px solid #fff;
    border-radius: 50%; }
  .spinner .circle {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    animation: spinn 6s infinite linear; }
  .spinner .line {
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px; }
    .spinner .line:nth-child(1) {
      transform: rotateY(36deg); }
    .spinner .line:nth-child(2) {
      transform: rotateY(72deg); }
    .spinner .line:nth-child(3) {
      transform: rotateY(108deg); }
    .spinner .line:nth-child(4) {
      transform: rotateY(144deg); }

@keyframes spinn {
  100% {
    transform: rotateY(360deg) rotateZ(360deg); } }

/*# sourceMappingURL=main.css.map */
